extends layout

block content
  <section class="hero-banner">
    <div class="tab-bar transiton">
      <img src="./images/logo.svg">
      <ul class="nav-links header-buttons transiton">
        <li><span><a class="" href="#">Get Started</a></span></li>
        <li><span><a class="sign-btn" href="#">Account</a></span></li>
        <li><span><a class="" href="#">About</a></span></li>
      </ul>
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </div>
    <img src="./images/image-hero-desktop.jpg" class="bg-image transiton">
  </section>

  <section class="main-content transiton">
    <div class="top-part form-bdr transiton">
      <img src="./images/logo-mastercraft.svg" class="logo-img">
      <div class="tp-content">
        <h1>Mastercraft Bamboo Monitor Riser</h1>
        <p>A beautiful & handcrafted monitor stand to reduce neck and eye strain.</p>
        <div class="tp-btn">
          <span class="button-to-select rsv-button hr-btn"><a href="#">Back this project</a></span>
          <span class="bookmark-button hr-btn"><img class="svg" id="bk-logo" src="./images/icon-bookmark.svg"><p class="bk-txt">Bookmark</p></span>
        </div>
      </div>
    </div>

    <div class="part2 form-bdr transiton">
      <div class="s2-content transiton">
        <div class="s2-tp">
          <div class="s2-tp-c1">
            <h1 class="info-numbers">$0</h1>
            <p>of $100,000 backed</p>
          </div>
          <div class="s2-tp-c2">
            <h1 class="info-numbers">0</h1>
            <p>total backers</p>
          </div>
          <div class="s2-tp-c3">
            <h1 class="info-numbers">0</h1>
            <p>days left</p>
          </div>
        </div>
        <div class="s2-pb">
          <div class="bg-pb">
            <div class="inside-pb show-on-scroll">
  
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="part3 form-bdr transiton">
      <div class="s3-content transiton">
        <div class="s3-tp transiton">
          <h1>About this project</h1>
          <p>The Mastercraft Bamboo Monito Rise is a sturdy ans stylish platform elevates your screen to a more comfortable viewing height Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt nulla dolorum maxime porro vitae ea neque voluptas est autem vel commodi itaque recusandae impedit laboriosam et animi, adipisci qui amet?</p>
          <p>Featuring artisan craftsmanship, the simplicity of design creates extra desl spacce below your computer to allow notepads, oens , and USB sticks to be stored under the stand.</p>
        </div>

        <div class="s3-sub1 sub-card-layout transiton">
          <div class="s3-sub1-p1 sub-lt-p1">
            <h1 class="ms-sub-c-p">Bamboo Stand</h1>
            <h1>Pledge $25 or more</h1>
          </div>
          <p class="card-dscr">You get an ergonimic stand mdae of natural bamboo. You've helped us launch our promotional campaign, and you'll be added to a special Backer member list.</p>
          <div class="s3-sub1-p3 sub-lt-p3">
            <div class="s3-sub1-rest sub-lt-p3-dt">
              <h1>101</h1>
              <p>left</p>
            </div>
            <span class="button-to-select sub-card-button"><a href="#">Select Reward</a></span>
          </div>
        </div>

        <div class="s3-sub2 sub-card-layout transiton">
          <div class="s3-sub2-p1 sub-lt-p1">
            <h1 class="ms-sub-c-p">Black Edition Stand</h1>
            <h1>Pledge $75 or more</h1>
          </div>
          <p class="card-dscr">You get a Black Spacial Edition computer stand and a personel thank you. You'll ba added to our Backer member list. Shipping is included.</p>
          <div class="s3-sub2-p3 sub-lt-p3">
            <div class="s3-sub2-rest sub-lt-p3-dt">
              <h1>64</h1>
              <p>left</p>
            </div>
            <span class="button-to-select sub-card-button"><a href="#">Select Reward</a></span>
          </div>
        </div>

        <div class="s3-sub3 sub-card-layout transiton">
          <div class="s3-sub3-p1 sub-lt-p1">
            <h1 class="ms-sub-c-p">Mahogany Special Edition</h1>
            <h1>Pledge $200 or more</h1>
          </div>
          <p class="card-dscr">You get two Spacial Edition Mahogany stand, a Backer T-Shirt, and a personal thank you. You'll ba added to our Backer member list. Shipping is included.</p>
          <div class="s3-sub3-p3 sub-lt-p3">
            <div class="s3-sub3-rest sub-lt-p3-dt">
              <h1>0</h1>
              <p>left</p>
            </div>
            <span class="sub-card-button-out sub-card-button"><a href="#">Out of stock</a></span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="bg-modal modal-present">
    <div class="bk-cf-content transiton">
      <img src="./images/icon-check.svg">
      <h1>Thanks for your support!</h1>
      <p>Your pledge brings us one step closer to sharing Mastercraft Bamboo Monitor Riser worldwide. You will get an email once our campaign is completed.</p>
      <span class="button-to-select sub-card-button check-cf"><a href="#">Got it!</a></span>
    </div>
  </div>

  <div class="modal-selector modal-present ">
    <div class="ms-content transiton" id="flyout-example">
      <p class="close-button">+</p>
      <div class="ms-head">
        <h1>Back this project</h1>
        <p>Want to support us bringing in Mastercraft Bamboo Monitor Riser out in the world?</p>
      </div>

      <div class="ms-body transiton">
        <div class="ms-element">
          <div class="ms-sub sub1">
            <div class="ms-indicator-container">
              <div class="ms-indicator indi1">
                <div class="ms-indicator-inner indi-inner1">
  
                </div>
              </div>
            </div>
            <div class="ms-sub-content ms-c-sub1">
              <h1 class="ms-sub-c-p">Pledge with no reward</h1>
              <p class="ms-description">Choose to support us without a reward if you simply believe in our project. As a backer, you will be signed up to receive product updates via email.</p>
            </div>
          </div>
          <div class="ms-validating">
            <div class="ms-vl-l">
              <input type="text" class="pledge-input" id="" placeholder="Enter your pledge" onchange onpropertychange onkeyuponpaste oninput="PLInpute()">
            </div>
            <div class="ms-vl-r">
              <span class="ms-vl-price"><p>$</p><h1 class="ms-price">5</h1></span>
              <span class="button-to-select ms-vl-button"><a href="#">Continue</a></span>
            </div>
          </div>
        </div>

        <div class="ms-element">
          <div class="ms-sub sub2">
            <div class="ms-indicator-container">
              <div class="ms-indicator indi2">
                <div class="ms-indicator-inner indi-inner2">
  
                </div>
              </div>
            </div>
            <div class="ms-sub-content transiton">
              <div class="ms-sub-c-h">
                <div class="ms-sub-c-hl ms-sub-c-hs">
                  <h1 class="ms-sub-c-p">Bamboo Stand</h1>
                  <h1>Pladge $25 or more</h1>
                </div>
                <div class="ms-sub-c-hr ms-sub-c-hs">
                  <h1>101</h1>
                  <p>left</p>
                </div>
              </div>
              <p class="ms-description">You get an ergonimic stand mdae of natural bamboo. You've helped us launch our promotional campaign, and you'll be added to a special Backer member list.</p>
            </div>
          </div>
          <div class="ms-validating">
            <div class="ms-vl-l">
              <input type="text" class="pledge-input" id="" placeholder="Enter your pledge" onchange onpropertychange onkeyuponpaste oninput="PLInpute()">
            </div>
            <div class="ms-vl-r">
              <span class="ms-vl-price"><p>$</p><h1 class="ms-price">25</h1></span>
              <span class="button-to-select ms-vl-button"><a href="#">Continue</a></span>
            </div>
          </div>
        </div>

        <div class="ms-element">
          <div class="ms-sub sub3">
            <div class="ms-indicator-container">
              <div class="ms-indicator indi3">
                <div class="ms-indicator-inner indi-inner3">
  
                </div>
              </div>
            </div>
            <div class="ms-sub-content transiton">
              <div class="ms-sub-c-h">
                <div class="ms-sub-c-hl ms-sub-c-hs">
                  <h1 class="ms-sub-c-p">Black Edition Stand</h1>
                  <h1>Pladge $75 or more</h1>
                </div>
                <div class="ms-sub-c-hr ms-sub-c-hs">
                  <h1>64</h1>
                  <p>left</p>
                </div>
              </div>
              <p class="ms-description">You get a Black Spacial Edition computer stand and a personel thank you. You'll be added to our Backer member list. Shipping is included.</p>
            </div>
          </div>
          <div class="ms-validating">
            <div class="ms-vl-l">
              <input type="text" class="pledge-input" id="" placeholder="Enter your pledge" onchange onpropertychange onkeyuponpaste oninput="PLInpute()">
            </div>
            <div class="ms-vl-r">
              <span class="ms-vl-price"><p>$</p><h1 class="ms-price">75</h1></span>
              <span class="button-to-select ms-vl-button"><a href="#">Continue</a></span>
            </div>
          </div>
        </div>

        <div class="ms-element">
          <div class="ms-sub sub4">
            <div class="ms-indicator-container">
              <div class="ms-indicator indi4">
                <div class="ms-indicator-inner indi-inner4">
  
                </div>
              </div>
            </div>
            <div class="ms-sub-content transiton">
              <div class="ms-sub-c-h">
                <div class="ms-sub-c-hl ms-sub-c-hs">
                  <h1 class="ms-sub-c-p">Mahogany Special Edition</h1>
                  <h1>Pladge $200 or more</h1>
                </div>
                <div class="ms-sub-c-hr ms-sub-c-hs">
                  <h1>0</h1>
                  <p>left</p>
                </div>
              </div>
              <p class="ms-description">You get two Spacial Edition Mahogany stand, a Backer T-Shirt, and a personal thank you. You'll be added to our Backer member list. Shipping is included.</p>
            </div>
          </div>
          <div class="ms-validating">
            <div class="ms-vl-l">
              <input type="text" class="pledge-input" id="" placeholder="Enter your pledge" onchange onpropertychange onkeyuponpaste oninput="PLInpute()">
            </div>
            <div class="ms-vl-r">
              <span class="ms-vl-price"><p>$</p><h1 class="ms-price">200</h1></span>
              <span class="button-to-select ms-vl-button"><a href="#">Continue</a></span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="modal-selector sign-container">
    <div class="container" id="flyout-example">
      <p class="close-sign-btn">+</p>
      <div class="forms-container">
          <div class="signin-signup">
              <form action="" class="sign-in-form">
                  <h2 class="title">Sign in</h2>
                  <div class="input-field">
                      <i class="fas fa-user"></i>
                      <input type="text" placeholder="Username" class="Username SIU-tf" onchange onpropertychange onkeyuponpaste oninput="SIUInpute()">
                  </div>
                  <div class="input-field">
                      <i class="fas fa-lock"></i>
                      <input type="password" placeholder="Password" class="Password SIU-tf" onchange onpropertychange onkeyuponpaste oninput="SIUInpute()">
                  </div>
                  <p class="we-up">Username or Password is incorrect</p>
                  <button type="button" class="btn solid" id="Login">Login</button>
              </form>
  
              <form action="" class="sign-up-form">
                  <h2 class="title">Sign up</h2>
                  <div class="input-field">
                      <i class="fas fa-user"></i>
                      <input type="text" placeholder="Username" class="UsernameS SIU-tf" onchange onpropertychange onkeyuponpaste oninput="SIUInpute()">
                  </div>
                  <div class="input-field">
                      <i class="fas fa-envelope"></i>
                      <input type="text" placeholder="Email" class="Email SIU-tf" onchange onpropertychange onkeyuponpaste oninput="SIUInpute()">
                  </div>
                  <div class="input-field">
                      <i class="fas fa-lock"></i>
                      <input type="password" placeholder="Password" class="PasswordS SIU-tf" onchange onpropertychange onkeyuponpaste oninput="SIUInpute()">
                  </div>
                  <p class="we-up">Username or Password incorrect</p>
                  <button type="button" class="btn solid" id="sign-up">Sign Up</button>
              </form>
          </div>
      </div>
  
      <div class="panels-container">
          <div class="panel left-panel">
              <div class="content">
                  <h3>New Here ?</h3>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                  <button class="btn transparent" id="sign-up-btn">Sign up</button>
              </div>
  
              <img src="./images/log.svg" class="image" alt="">
          </div>
  
          <div class="panel right-panel">
              <div class="content">
                  <h3>One of us ?</h3>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                  <button class="btn transparent" id="sign-in-btn">Sign in</button>
              </div>
  
              <img src="./images/register.svg" class="image" alt="">
          </div>
      </div>
    </div>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="/javascripts/Script.js"></script>
  <script src="/javascripts/sign.js"></script>
  <script src="/javascripts/scroll-trigger.js"></script>
