extends layout

block content
    <div class="ms-content" id="flyout-example">
      <p class="close-button">+</p>
      <div class="ms-head">
        <h1>Back this project</h1>
        <p>Want to support us bringing in Mastercraft Bamboo Monitor Riser out in the world?</p>
      </div>

      <div class="ms-body transiton">
        <div class="ms-element">
          <div class="ms-sub sub1">
            <div class="ms-indicator-container">
              <div class="ms-indicator indi1">
                <div class="ms-indicator-inner indi-inner1">
  
                </div>
              </div>
            </div>
            <div class="ms-sub-content ms-c-sub1">
              <h1 class="ms-sub-c-p">Pledge with no reward</h1>
              <p class="ms-description">Choose to support us without a reward if you simply believe in our project. As a backer, you will be signed up to receive product updates via email.</p>
            </div>
          </div>
          <div class="ms-validating">
            <div class="ms-vl-l">
              <input type="text" class="pledge-input" id="" placeholder="Enter your pledge" onchange onpropertychange onkeyuponpaste oninput="PLInpute()">
            </div>
            <div class="ms-vl-r">
              <span class="ms-vl-price"><p>$</p><h1 class="ms-price">5</h1></span>
              <span class="button-to-select ms-vl-button"><a href="#">Continue</a></span>
            </div>
          </div>
        </div>

        <div class="ms-element">
          <div class="ms-sub sub2">
            <div class="ms-indicator-container">
              <div class="ms-indicator indi2">
                <div class="ms-indicator-inner indi-inner2">
  
                </div>
              </div>
            </div>
            <div class="ms-sub-content transiton">
              <div class="ms-sub-c-h">
                <div class="ms-sub-c-hl ms-sub-c-hs">
                  <h1 class="ms-sub-c-p">Bamboo Stand</h1>
                  <h1>Pladge $25 or more</h1>
                </div>
                <div class="ms-sub-c-hr ms-sub-c-hs">
                  <h1>101</h1>
                  <p>left</p>
                </div>
              </div>
              <p class="ms-description">You get an ergonimic stand mdae of natural bamboo. You've helped us launch our promotional campaign, and you'll be added to a special Backer member list.</p>
            </div>
          </div>
          <div class="ms-validating">
            <div class="ms-vl-l">
              <input type="text" class="pledge-input" id="" placeholder="Enter your pledge" onchange onpropertychange onkeyuponpaste oninput="PLInpute()">
            </div>
            <div class="ms-vl-r">
              <span class="ms-vl-price"><p>$</p><h1 class="ms-price">25</h1></span>
              <span class="button-to-select ms-vl-button"><a href="#">Continue</a></span>
            </div>
          </div>
        </div>

        <div class="ms-element">
          <div class="ms-sub sub3">
            <div class="ms-indicator-container">
              <div class="ms-indicator indi3">
                <div class="ms-indicator-inner indi-inner3">
  
                </div>
              </div>
            </div>
            <div class="ms-sub-content transiton">
              <div class="ms-sub-c-h">
                <div class="ms-sub-c-hl ms-sub-c-hs">
                  <h1 class="ms-sub-c-p">Black Edition Stand</h1>
                  <h1>Pladge $75 or more</h1>
                </div>
                <div class="ms-sub-c-hr ms-sub-c-hs">
                  <h1>64</h1>
                  <p>left</p>
                </div>
              </div>
              <p class="ms-description">You get a Black Spacial Edition computer stand and a personel thank you. You'll be added to our Backer member list. Shipping is included.</p>
            </div>
          </div>
          <div class="ms-validating">
            <div class="ms-vl-l">
              <input type="text" class="pledge-input" id="" placeholder="Enter your pledge" onchange onpropertychange onkeyuponpaste oninput="PLInpute()">
            </div>
            <div class="ms-vl-r">
              <span class="ms-vl-price"><p>$</p><h1 class="ms-price">75</h1></span>
              <span class="button-to-select ms-vl-button"><a href="#">Continue</a></span>
            </div>
          </div>
        </div>

        <div class="ms-element">
          <div class="ms-sub sub4">
            <div class="ms-indicator-container">
              <div class="ms-indicator indi4">
                <div class="ms-indicator-inner indi-inner4">
  
                </div>
              </div>
            </div>
            <div class="ms-sub-content transiton">
              <div class="ms-sub-c-h">
                <div class="ms-sub-c-hl ms-sub-c-hs">
                  <h1 class="ms-sub-c-p">Mahogany Special Edition</h1>
                  <h1>Pladge $200 or more</h1>
                </div>
                <div class="ms-sub-c-hr ms-sub-c-hs">
                  <h1>0</h1>
                  <p>left</p>
                </div>
              </div>
              <p class="ms-description">You get two Spacial Edition Mahogany stand, a Backer T-Shirt, and a personal thank you. You'll be added to our Backer member list. Shipping is included.</p>
            </div>
          </div>
          <div class="ms-validating">
            <div class="ms-vl-l">
              <input type="text" class="pledge-input" id="" placeholder="Enter your pledge" onchange onpropertychange onkeyuponpaste oninput="PLInpute()">
            </div>
            <div class="ms-vl-r">
              <span class="ms-vl-price"><p>$</p><h1 class="ms-price">200</h1></span>
              <span class="button-to-select ms-vl-button"><a href="#">Continue</a></span>
            </div>
          </div>
        </div>

      </div>
    </div>
    <script src="/javascripts/scriptProject.js"></script>